<H1>Customers</H1>

{{!-- Create a table --}}
<table id="customers-table">
  {{!-- Header section --}}
  <thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we
      know what each column means when the page renders --}}
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
      <th>Delete</th>
    </tr>
  </thead>

  
  {{!-- Body section --}}
  <tbody>
    {{!-- For each row, print attributes in order --}}
    {{#each data}}
    <tr data-value={{"Customer ID"}}>
      <td>{{"Customer ID"}}</td>
      <td>{{"First Name"}}</td>
      <td>{{"Last Name"}}</td>
      <td>{{"Phone Number"}}</td>
      <td>{{"Email Address"}}</td>
      <td><button onclick="deleteCustomer({{"Customer ID"}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h2>New Customer Application</h2>
<p>To add a new customer, please enter the information below and click 'Add Customer'!</p>
<form id="add-customer-form">
  <label for="input-customer_first_name">First name: </label>
  <input type="text" name="input-customer_first_name" id="input-customer_first_name" required
  oninvalid="this.setCustomValidity('Please enter a first name.')"
  oninput="setCustomValidity('')">

  <label for="input-customer_last_name">Last name: </label>
  <input type="text" name="input-customer_last_name" id="input-customer_last_name" required
  oninvalid="this.setCustomValidity('Please enter a last name.')"
  oninput="setCustomValidity('')">

  <label for="input-customer_phone">Phone number: </label>
  <input type="text" name="input-customer_phone" id="input-customer_phone"
  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required placeholder="###-###-####"
  oninvalid="this.setCustomValidity('Please enter a valid number ###-###-####')"
  oninput="setCustomValidity('')">

  <label for="input-customer_email">Email address: </label>
  <input type="text" name="input-customer_email" id="input-customer_email" required
  oninvalid="this.setCustomValidity('Please enter a valid email.')"
  oninput="setCustomValidity('')">

  <input type="submit" value="Add Customer">
</form>

<h2>Updating an Customer's Phone Number</h2>
<p> To update an customer's number, select their name from the drop down and input a new number to update to.</p>
<form id="update-customer-form">
  <label for="input-fullname">Full Name: </label>
  <select name="input-fullname" id="mySelect">
    <option value="test">Select a Customer</option>
    {{#each data}}
    <option value="{{"Customer ID"}}">{{"Customer ID"}} - {{"First Name"}} {{"Last Name"}}</option>
    {{/each}}
  </select>

  <label for="input-phone">Phone Number: </label>
  <input type="text" name="input-customer_phone-update" id="input-customer_phone-update"
  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required placeholder="###-###-####"
  oninvalid="this.setCustomValidity('Please enter a valid number ###-###-####')"
  oninput="setCustomValidity('')">
  <input type="submit" value="Update">
</form>

<h2>Customer Search</h2>
<p>Search by name using the field below.</p>
<form id="search-customer-html" method='GET' action='/customers'>
  <label for="input-searchName">Search by Name: </label>
  <input type="text" name="searchName" id="input-searchName-html-search">

  <input type="submit" value="Search">
  <a href='/customers'><button>Reset</button></a>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/update_customer.js"></script>

<script src="./js/add_customer.js"></script>

<script src="./js/delete_customer.js"></script>


{{!--
References 
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/tel
--}}