<H1>Employees</H1>

{{!-- Create a table --}}
<table id="employees-table">
  {{!-- Header section --}}
  <thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we
      know what each column means when the page renders --}}
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
    </tr>
  </thead>

  
  {{!-- Body section --}}
  <tbody>
    {{#each data}}
    <tr>
      <td>{{this.employee_id}}</td>
      <td>{{this.employee_first_name}}</td>
      <td>{{this.employee_last_name}}</td>
      <td>{{this.employee_phone}}</td>
      <td>{{this.employee_email}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h2>New Employee Application</h2>
<p>To add a new employee, please enter the information below and click 'Submit'!</p>
<form id="add-employee-form-ajax">
  <label for="input-employee_first_name">First name: </label>
  <input type="text" name="input-employee_first_name" id="input-employee_first_name">

  <label for="input-employee_last_name">Last name: </label>
  <input type="text" name="input-employee_last_name" id="input-employee_last_name">

  <label for="input-employee_phone">Phone number: </label>
  <input type="text" name="input-employee_phone" id="input-employee_phone">

  <label for="input-employee_email">PC Purpose: </label>
  <input type="text" name="input-employee_email" id="input-employee_email">

  <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_employee.js"></script>