<H1>Items</H1>

{{!-- Create a table --}}
<table id="items-table">
  {{!-- Header section --}}
  <thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
      <th>Delete</th>
    </tr>
  </thead>


  {{!-- Body section --}}
  <tbody>
    {{#each data}}
    <tr data-value="{{"Item ID"}}">
      <td>{{"Item ID"}}</td>
      <td>{{"Description"}}</td>
      <td>{{"Cost"}}</td>
      <td>{{"Format"}}</td>
      <td>{{"Purpose"}}</td>
      <td><button onclick="deleteItem({{"Item ID"}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<!--Error checking for items inserts is done in the AJAX request method in app.js -->
<h2>New Item Addition</h2>
<p>To add a new item to the inventory, please enter the information below and click 'Submit'!</p>
<form id="add-item-form-ajax">
  <label for="input-item_description">Item Description: </label>
  <input type="text" name="input-item_description" id="input-item_description">

  <label for="input-item_cost">Item Cost: </label>
  <input type="number" name="input-item_cost" id="input-item_cost">

  <label for="input-pc_format">PC Format: </label>
  <select name="input-pc_format" id="input-pc_format">
    <option value="">Select a PC Format</option>
    <option value="Desktop">Desktop</option>
    <option value="Handheld Computer">Handheld Computer</option>
    <option value="Laptop">Laptop</option>
    <option value="Netbook">Netbook</option>
    <option value="Tablet">Tablet</option>
    <option value="Workstation">Workstation</option>
  </select>

  <label for="input-pc_purpose">PC Purpose: </label>
  <select name="input-pc_purpose" id="input-pc_purpose">
    <option value="">Select a PC Purpose</option>
    <option value="Business">Business</option>
    <option value="Education">Education</option>
    <option value="Home">Home</option>
    <option value="Gaming">Gaming</option>
    <option value="General">General</option>
    <option value="Server">Server</option>
  </select>

  <input type="submit" value="Add Item">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_item.js"></script>

{{!-- Delete Script --}}
<script src="./js/delete_item.js"></script>