<H1>PC Orders Has Items</H1>

{{!-- Create a table --}}
<table id="pc_orders_has_items-table">
  {{!-- Header section --}}
  <thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we
      know what each column means when the page renders --}}
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
      <th>Delete</th>
    </tr>
  </thead>

  
  {{!-- Body section --}}
  <tbody>
    {{#each data}}
    <tr data-value="{{"Sub Order ID"}}">
      <td>{{"Sub Order ID"}}</td>
      <td>{{"PC Order ID"}}</td>
      <td>{{"Item ID"}}</td>
      <td>{{"Cost Per Unit"}}</td>
      <td>{{"Quantity"}}</td>
      <td><button onclick="deletePcOrderHasItems({{"Sub Order ID"}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h2>Compiling PC Orders</h2>
<p>To add more items to a PC order, please fill out the information below and click 'Add Items'!</p>
<form id="add-pc_orders_has_items-form-ajax">
  <label for="input-pc_order_id">PC Order ID: </label>
  <select name="input-pc_order_id" id="input-pc_order_id">
    <option value="">Select PC Order ID</option>
    {{#each pc_orders}}
    <option value="{{pc_order_id}}">{{pc_order_id}}</option>
    {{/each}}
  </select>

  <label for="input-item_id">Item ID: </label>
  <select name="input-item_id" id="input-item_id">
    <option value="">Select Item</option>
    {{#each items}}
    <option value="{{item_id}}">{{item_id}} - {{pc_purpose}}  {{pc_format}}</option>
    {{/each}}
  </select>

  <label for="input-quantity">Quantity: </label>
  <input type="number" name="input-quantity" id="input-quantity" min="1">

  <input type="submit" value="Add Items">
</form>

<h2>Update an Item within a PC Order</h2>
<p>Please enter the PC Order Sub ID to be updated and new fields.</p>
<form id="update-pc_orders_has_items-form-ajax">
  <label for="input-update-sub_order_id">Sub Order ID: </label>
  <select name="input-update-sub_order_id" id="input-update-sub_order_id">
    <option value="">Select Sub Order ID</option>
    {{#each data}}
    <option value="{{"Sub Order ID"}}">{{"Sub Order ID"}}</option>
    {{/each}}
  </select>

  <label for="input-update-quantity">Quantity: </label>
  <input type="number" name="input-update-quantity" id="input-update-quantity" min="0">

  <input type="submit" value="Update">
</form>

<h2>Search for your order here</h2>
<p>Select a PC Order ID to see all Items within the Order<p>
<form id ="search-pc_orders_has_items-html" method='GET' action='/pc-orders-has-items'>
  <label for="input-poid">PC Order ID: </label>
    <select name="poid" id="input-poid-html-search">
        <option value="">Select Order</option>
    {{#each pc_orders}}
    <option value="{{pc_order_id}}">{{pc_order_id}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Filter">
  <a href='/pc-orders-has-items'><button>Reset</button></a>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_pc_orders_has_items.js"></script>

<script src="./js/delete_pc_orders_has_items.js"></script>

<script src="./js/update_pc_orders_has_items.js"></script>